body {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
  font-size: 14px !important;
  color: #888;
}

table thead th {
  background-color: #efefef;
  color: #888;
  border-color: #dcdcdc !important;
  text-align: center;
}

table tbody td {
  font-family: 'Anonymous Pro', monospace;
  text-align: center;
}

a:hover {
  text-decoration: none;
}

strong {
  color: #000;
}

.hamlog-head {
  background-color: #efefef;
  border-bottom: 1px solid #dcdcdc;
}

.hamlog-hd-1 {
  margin-top: 4em;
}

.hamlog-hd-2 {
  margin-top: 3em;
}

.hamlog-hd-3 {
  margin-top: 1em;
}

.modal-content {
  position: relative;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
}

.modal-content-solid {
  position: relative;
  background-color: #fff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
}

.entryform {
  padding: 14px;
  border: 1px solid #efefef;
  border-radius: 4px;
  background-color: #fff;
}

.navbar-custom {
  background-color: #046284;
  color: #ffffff;
  border-radius: 0;
  font-family: 'Helvetica, Arial', sans-serif;
}

.navbar-custom .navbar-nav>li>a {
  color: #fff;
}

.navbar-custom .navbar-nav>.active>a {
  color: #ffffff;
  background-color: transparent;
}

.navbar-custom .navbar-nav>li>a:hover, .navbar-custom .navbar-nav>li>a:focus, .navbar-custom .navbar-nav>.active>a:hover, .navbar-custom .navbar-nav>.active>a:focus, .navbar-custom .navbar-nav>.open>a {
  text-decoration: none;
  background-color: #046284;
}

.navbar-custom .navbar-brand {
  color: #eeeeee;
}

.navbar-custom .navbar-toggle {
  background-color: #eeeeee;
}

.navbar-custom .icon-bar {
  background-color: #046284;
}


/* for dropdowns only */

.navbar-custom .navbar-nav .dropdown-menu {
  background-color: #046284;
}

.navbar-custom .navbar-nav .dropdown-menu>li>a {
  color: #fff;
}

.navbar-custom .navbar-nav .dropdown-menu>li>a:hover, .navbar-custom .navbar-nav .dropdown-menu>li>a:focus {
  color: #046284;
}

.alert-hamlog {
    background-color: #0b6f93;
    border-color: #022938;
    color: #e4f8ff;
}

.btn-hamlog {
    color: #ffffff;
    background-color: #01bf23;
    border-color: #4cae4c;
}

.btn-hamlog:hover {
    color: #ffffff;
    background-color: #01bf23;
    border-color: #4cae4c;
}
.btn-hamlog:focus {
    color: #ffffff;
    background-color: #01bf23;
    border-color: #4cae4c;
}
